*.model
/bib
*.xlsx
*.csv
*.pkl
*.mm
*.dict
*.vocab
*.index
*.exe
dtm.js
/reports/templates
*.ipynb_checkpoints
*__pycache__
*.dat
*.bin
*.log
*.vec
.history
!stopwords.txt
!stopwords.xlsx