*.model
/bib
*.xlsx
*.csv
*.pkl
*.mm
*.dict
*.vocab
*.index
*.exe
dtm.js
/reports/templates
*.ipynb_checkpoints
*__pycache__
*.dat
*.bin
*.log
*.vec
.history
!stopwords.txt
!stopwords.xlsx
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.gz
*.toc
*.blg
*.lof
*.lot
setting.json
.metals
backlog.md
!ground_truth.pkl