.svg-graph {
  position: relative;
  width: 100%;
  height: 100%;
}

#graph  {
  height: 450px;
  font-size:1px;
}

#ldavis-lambdaInput text{
  font-size:10px;
}
#ldavis{
    transform: translate(0%, 0%) scale(1.0);
}
#ldavis-leftpanel{
    transform: translate(5%, 5%) scale(0.8);
  }
#ldavis-bar-freqs{
    transform: translate(50%, 5%) scale(0.8);
  }
#ldavis-lambdaInput{
 transform: translate(-10%, 0%) 
}
#ldavis h1{
  text-align: center;
}

#ldavis path {
  fill: none;
  stroke: none;
}

#ldavis .xaxis .tick.major {
    fill: black;
    stroke: black;
    stroke-width: 0.1;
    opacity: 0.7;
}

#ldavis .slideraxis {
    fill: black;
    stroke: black;
    stroke-width: 0.4;
    opacity: 1;
}

#ldavis text {
    font-family: sans-serif;
    font-size: 11px;
}
