#ldavis-lambdaInput text{
  font-size:10px;
}
#ldavis{
    transform: translate(25%, 15%) scale(1.3);
}
#ldavis-leftpanel{
    transform: translate(5%, 5%) scale(0.8);
  }
#ldavis-bar-freqs{
    transform: translate(60%, 5%) scale(0.8);
  }

#graph{
    transform: translate(5%, 0%) ;
}
h1{
  text-align: center;
}


