/* .navbar-fixed-top.scrolled {
  background-color: #222 !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .logo-hcmfront a{
    background-image: url('isotipoblanco_256.png');

} */